.friend {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friend .friend__profile {
    width: 50px;
    border-radius: 38%;
}

.friend__profile.g-profile {
    width: 70px;
}

.friend__profile.m-profile {
    width: 60px;
}

.friend .friend__column {
    display: flex;
    align-items: center;
}

.friend .friend__profile {
    margin-right: 15px;
}

.friend__content .friend__name {
    display: block;
    margin-bottom: 5px;
}

.friend__content .friend__status,
.friend__content .friend__bottom-text,
.friend .chat__timestamp {
    opacity: 0.6;
}

.friend__content .friend__bottom-text {
    font-size: 14px;
}

.friend__content .friend__status,
.friend .chat__timestamp {
    font-size: 12px;
}

.friend .friend__now-listening {
    border: 2px solid #52e084;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
}

.friend__now-listening span {
    opacity: 0.6;
}

.friend__now-listening i {
    font-size: 12px;
}

.friend__add-btn {
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.friend__group-two {
    width: 75px;
    height: 75px;
    position: relative;
    margin-left: -3px;
    margin-right: 5px;
}

.group-two__profile {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 15px;
    position: absolute;
}

.group-two__profile:nth-child(1) {
    top: 7px;
    left: 7px;
}

.group-two__profile:nth-child(2) {
    bottom: 7px;
    right: 7px;
}

.people {
    opacity: 0.6;
}

.people i {
    font-size: 12px;
    opacity: 0.6;
}

.friend__group-four {
    width: 75px;
    height: 75px;
    margin: 5px 5px 0px -3px;
}

.group-four__profile {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 10px;
}